# This file is a sample. Copy it to .env and fill in the values.

# General configuration
EASYSWITCH_ENVIRONMENT=development              # or production
EASYSWITCH_TIMEOUT=30                           # seconds
EASYSWITCH_DEBUG=true                           # Enable debug mode

# Logging configuration
# Note: Logging configuration is only used if EASYSWITCH_LOGGING is set to true

EASYSWITCH_LOGGING=true                         # Enable file logging
EASYSWITCH_LOG_LEVEL=info                       # debug, info, warning, error
EASYSWITCH_LOG_FILE=/var/log/easyswitch.log     # Path to the log file
EASYSWITCH_CONSOLE_LOGGING=true                 # Enable console logging
EASYSWITCH_LOG_MAX_SIZE=10                      # Maximum size of the log file in MB
EASYSWITCH_LOG_BACKUPS=5                        # Number of backup log files to keep
EASYSWITCH_LOG_COMPRESS=true                    # Whether to compress old log files
EASYSWITCH_LOG_FORMAT=plain                     # Format of the log file (plain or json)
EASYSWITCH_LOG_ROTATE=true                      # Whether to rotate the log file

# Payment gateway configuration
EASYSWITCH_ENABLED_PROVIDERS=cinetpay,semoa,fedapay     # Comma-separated list of enabled payment providers
EASYSWITCH_DEFAULT_PROVIDER=cinetpay            # Default payment provider
EASYSWITCH_CURRENCY=XOF                         # Default currency

# Providers configuration
# NOTE: these are standadized variables for all providers. 

# CINETPAY
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'cinetpay'
EASYSWITCH_CINETPAY_API_KEY=your_cinetpay_api_key
EASYSWITCH_CINETPAY_X_SECRET=your_cinetpay_secret_key
EASYSWITCH_CINETPAY_X_SITE_ID=your_cinetpay_site_id
EASYSWITCH_CINETPAY_ENVIRONMENT=sandbox  # Or Production
EASYSWITCH_CINETPAY_CALLBACK_URL=your_cinetpay_callback_url
EASYSWITCH_CINETPAY_X_CHANNELS=ALL
EASYSWITCH_CINETPAY_X_LANG=fr


# SEMOA
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'semoa'
EASYSWITCH_SEMOA_API_KEY=your_semoa_api_key
EASYSWITCH_SEMOA_X_CLIENT_ID=your_semoa_site_id
EASYSWITCH_SEMOA_X_CLIENT_SECRET=your_semoa_client_secret
EASYSWITCH_SEMOA_X_USERNAME=your_semoa_username
EASYSWITCH_SEMOA_X_PASSWORD=your_semoa_password
EASYSWITCH_SEMOA_CALLBACK_URL=your_semoa_callback_url
EASYSWITCH_SEMOA_ENVIRONMENT=sandbox  # Or Production


# FEDAPAY
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'fedapay'
EASYSWITCH_FEDAPAY_SECRET_KEY=your_fedapay_secret_key
EASYSWITCH_FEDAPAY_CALLBACK_URL=your_fedapay_callback_url
EASYSWITCH_FEDAPAY_ENVIRONMENT=sandbox  # Or Production
EASYSWITCH_FEDAPAY_WEBHOOK_SECRET=your_fedapay_webhook_secret


# PAYSTACK
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'paystack'
EASYSWITCH_PAYSTACK_API_KEY=your_paystack_secret_key
EASYSWITCH_PAYSTACK_CALLBACK_URL=your_paystack_callback_url
EASYSWITCH_PAYSTACK_ENVIRONMENT=sandbox  # Or Production


# PAYGATE
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'paygate'
EASYSWITCH_PAYGATE_API_KEY=your_paygate_api_key
EASYSWITCH_PAYGATE_CALLBACK_URL=your_paygate_callback_url
EASYSWITCH_PAYGATE_ENVIRONMENT=sandbox  # Or Production


# AIRTEL MONEY
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'airtel_money'
EASYSWITCH_AIRTEL_MONEY_API_KEY=your_airtel_api_key
EASYSWITCH_AIRTEL_MONEY_API_SECRET=your_airtel_api_secret
EASYSWITCH_AIRTEL_MONEY_X_CLIENT_ID=your_airtel_client_id
EASYSWITCH_AIRTEL_MONEY_X_CLIENT_SECRET=your_airtel_client_secret
EASYSWITCH_AIRTEL_MONEY_CALLBACK_URL=your_airtel_callback_url
EASYSWITCH_AIRTEL_MONEY_ENVIRONMENT=sandbox  # Or Production


# MTN
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'mtn'
EASYSWITCH_MTN_API_KEY=your_mtn_subscription_key
EASYSWITCH_MTN_API_SECRET=your_mtn_api_secret
EASYSWITCH_MTN_X_APP_ID=your_mtn_app_id
EASYSWITCH_MTN_CALLBACK_URL=your_mtn_callback_url
EASYSWITCH_MTN_ENVIRONMENT=sandbox  # Or Production


# BIZAO
# Note: Only required if EASYSWITCH_ENABLED_PROVIDERS includes 'bizao'
EASYSWITCH_BIZAO_API_KEY=your_bizao_api_key
EASYSWITCH_BIZAO_X_DEV_CLIENT_ID=your_bizao_dev_client_id
EASYSWITCH_BIZAO_X_DEV_CLIENT_SECRET=your_bizao_dev_client_secret
EASYSWITCH_BIZAO_X_PROD_CLIENT_ID=your_bizao_prod_client_id
EASYSWITCH_BIZAO_X_PROD_CLIENT_SECRET=your_bizao_prod_client_secret
EASYSWITCH_BIZAO_X_COUNTRY_CODE=CI
EASYSWITCH_BIZAO_X_MNO_NAME=your_mno_name
EASYSWITCH_BIZAO_X_CHANNEL=web
EASYSWITCH_BIZAO_CALLBACK_URL=your_bizao_callback_url
EASYSWITCH_BIZAO_ENVIRONMENT=sandbox  # Or Production
